<!DOCTYPE html>
<html>
  <head>
    <title>CourseworkRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<%if controller_name == "home" && !session[:login_id]%>
  <%controller.redirect_to "/"%>
<%end%>